<footer class="py-11 px-4 bg-black">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <div>
            <img src="../assets/images/LOGO-wh.png" alt="logo">
            <ul class="my-10 p-0 d-lg-flex gap-9 my-lg-0 mt-lg-9">
                <li><a class="fs-5 text-neutral-0 mb-5" href="#">常見問題</a></li>
                <li><a class="fs-5 text-neutral-0 mb-5" href="#">關於我們</a></li>
                <li><a class="fs-5 text-neutral-0 mb-5" href="#">隱私權政策</a></li>
                <li><a class="fs-5 text-neutral-0" href="#">使用者條款</a></li>
            </ul>
        </div>
        <div>
            <ul class="d-flex align-items-center gap-5 mb-5 p-0 flex-lg-row-reverse">
                <li><a class="line btn rounded-circle border-netural-0 border" href="#"><img src="../assets/images/line.png" alt="line"></a></li>
                <li><a class="youtube btn rounded-circle border-netural-0 border" href="#"><img src="../assets/images/youtube.png" alt="youtube"></a></li>
                <li><a class="facebook btn rounded-circle border-netural-0 border" href="#"><img src="../assets/images/facebook.png" alt="facebook"></a></li>
            </ul>
            <p class="fs-6 text-neutral-15">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
        </div>
    </div>
</footer>