$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

.rounded-16{
  border-radius: 16px;
}

.card-rounded-16{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.fs-72{
  font-size: 72px;
}

.secondary-yellow
{
  color: #F6BD2B;
}

.line-through-color{
  color: #808080;
}

.fs-24{
  font-size: 24px;
}

