.banner{
  background-image: url(../images/hero-bg.png);
  background-position: -500px center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 112px;
  padding-left: 12px;
  padding-right: 12px;
}

.index-search{
  max-width: 351px;
  border-radius: 16px;
}

.start-ntn-flex{
  max-width: 351px;
}

.start-btn{
  transform: translate(-5%, -115%);
  border-radius: 12px;
}

.recommend{
  background-color:#221F1E;
  .card{
    width: 227px;
  }
}

.map .card{
    width: 312px;

    img{
    width: 280px;
    height: 200px;
    object-fit: cover;
  }
  }  


.number-deco{
  color: #DFD2CD;
  font-size: 100px;
  margin-left: 10%;
}

.journey .card{
  width: 306px;
}

.journey-bg-deco img{
  height: 38px;
}

.opacity-bg{
  background:rgba(255, 255, 255, 0.5)
}

@media (min-width:577px)
{
  .banner{
    background-position: -300px center;
  }
}

@media (min-width:768px)
{
  .banner{
    background-position: -150px center;
  }
}

@media (min-width:890px){
  .banner{
    background-position: center center;
  }
}

@media (min-width:992px){
.banner{
  padding-top: 285px;
}

.index-search{
  max-width: 720px;
}

.start-btn{
transform: translate(-10%, -115%);
}

.start-ntn-flex{
  max-width: 720px;
}

.recommend .card{
  width: 25%;
  max-width: 416px;
  height: 600px;
  transition: width 0.5s;

  button{
    display: none;
    transition: display 0.5s;
  }

  img{
    object-fit: cover;
  }

  &:hover{
    width: 100%;
    button{
      display: block;
    }
  }
}

.offset-row{
  transform: translateX(80px)
}

.intro{
  background-image: url(../images/deco-bg.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.map .card{
    width: 746px;

    img{
    width: 300px;
    height: 412px;
    object-fit: cover;
  }
  }  

  .fs-48{
  font-size: 48px;
}
}