.category{
    padding: 8px;
    .category-wrap{
        margin: -8px;
    }
    .category-card{
        padding: 8px;
    }
}

.top-site .card{
  width: 306px;
}

.nav-rec{
  padding-top: 16px;
  padding-bottom: 16px;
  word-break: keep-all;
}

.play img{
  width: 319px;
  height: 232px;
  object-fit: cover;
}

.osaka-sm{
  padding: 4px;
}

.row-s{
  margin: -4px;
}

.osaka-md{
  padding: 4px;
  max-width: 568px;
  height: 520px;
}

.osaka-xl{
  padding: 0;
  min-height: 520px;
    img{
      object-fit: cover;
    }
}

.osaka-container{
  max-width: 100%;
  height: 520px;
  overflow: hidden;
}

.check{
  margin-top: 35%;
  margin-right: 10px;
}

