.category{
    padding: 8px;
    .category-wrap{
        margin: -8px;
    }
    .category-card{
        padding: 8px;
    }
}

.top-site .card{
  width: 306px;
}

.nav-rec{
  padding-top: 16px;
  padding-bottom: 16px;
  word-break: keep-all;
}

.play img{
  width: 319px;
  height: 232px;
  object-fit: cover;
}