<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>ZOBAA</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="banner px-4">
        <div class="container p-0">
          <h2 class="fs-5 fw-bold text-primary-100 bg-primary-10 rounded-1 p-2 d-inline-block mb-4">
            ZOBAA 旅行推薦平台
          </h2>
          <h1 class="fs-2 fw-bold text-primary mb-2">
            <span class="d-block d-lg-inline">用旅行，</span>
            <span>收藏世界的樣子</span>
          </h1>
          <p class="fs-6 text-primary-80 fw-bold mb-7">ZOBAA 整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。</p>
          <form class="position-relative">
            <span class="material-icons-outlined align-bottom position-absolute text-neutral-60 ps-10" style="transform: translate(-45%, 85%);">search</span>
            <input type="search" 
            class="form-control py-6 ps-10 index-search" 
            id="index-search" 
            placeholder="搜尋景點、地點或城市">
            <button type="button" class="btn btn-primary py-4 px-5 position-absolute start-btn">
              開始探索旅程
            </button>
          </form>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
